{% extends 'base.html' %}{% load static %} {% block main %}

<main>
    <div class="container">
        <h1 class="text-center mt-4">Books</h1>
        <ul class="list-group">
            {% for book in books %}
            <li class="list-group-item p-0 my-2 rounded border-secondary">
                <div class="row book-row px-3">
                    <a class="col-3 border-right border-secondary p-3 m-0" href="{% url 'book-detail' book.id %}">
                        <img class="img-fluid" src="{{ book.cover_image.url }}" width="240" height="300" />
                    </a>
                    <div class="title-authors col m-0 d-flex flex-column py-3">
                        <h5 class="my-auto">
                            <a href="{% url 'book-detail' book.id %}">{{ book.title }}</a>
                        </h5>
                        <p class="my-auto">By: {% for author in book.authors.all %}
                            <span>
                                <a href="{% url 'author-detail' author.id %}" class="">
                                    <b>{{ author.name }}</b>
                                </a>
                            </span>{% endfor %}
                        </p>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% include 'components/paginate.html' %}
    </div>
</main>

{% endblock main %}