{% extends 'base.html' %}{% load static %} {% block main %}

<main>
    <div class="container">
        <h1 class="text-center mt-4">Books</h1>
        <ul class="list-group">
            {% for book in books %}
            <li class="list-group-item p-0 my-2 rounded">
                <div class="row book-row px-3">
                    <a class="col-3 border-right p-3" href="#">
                        <img src="{{ book.cover_image }}" />
                    </a>
                    <div class="title-authors col m-0 align-self-center d-flex flex-column py-3">
                        <h5 class="m-0">{{ book.title }}</h5>
                        <p class="m-0">By: {% for author in book.authors.all %}
                            <span>
                                <a href="#" class="">
                                    <b>{{ author.name }}</b>
                                </a>
                            </span>{% endfor %}
                        </p>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% include 'components/paginate.html' %}
    </div>
</main>

{% endblock main %}